
<%if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<h1>Listing items for auction: <%= @auction.title %></h1>

<table>
  <thead>
    <tr>
      <th><strong>Picture:</strong></th>
      <th>Title</th>
      <th>Description</th>
      <th>Buy it now</th>
      <th>Quantity available</th>
      <th>Estimated value</th>
      <th>Start bid</th>
      <th>Bid increment</th>
      <th>Current high bid</th>
      <th>High bidder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.picture.url(:logo2) %></td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.buyitnow %></td>
        <td><%= item.qty %></td>
        <td><%= number_to_currency(item.value) %></td>
        <td><%= number_to_currency(item.start_bid) %></td>
        <td><%= number_to_currency(item.bid_increment) || "N/A"%></td>
        <td><%= number_to_currency(item.bids.maximum(:amount)) || number_to_currency(0) %></td>
        <% if current_user == item.highbidder %>
           <% if item.buyitnow %>
            <td>I purchased one or more </td>
           <% else %>
            <td>I am high bidder </td>
           <% end %>
        <% else %>
            <td>I am NOT high bidder! </td>
        <% end %>
        <% if DateTime.now > @auction.start_date && DateTime.now < @auction.end_date %>
        <% if item.buyitnow  %>
            <% if item.qty > 0 %>
              <td><%= link_to 'Buy this item now', new_bid_path(item: item.id) %></td>
            <% else %>
              <td>SOLD OUT</td>
            <% end %>
        <% else %>
          <% if item.is_donation %><td><%= link_to 'Make a donation', new_bid_path(item: item.id) %></td>
           <% else %><td><%= link_to 'Bid on this item', new_bid_path(item: item.id) %></td><% end %>
           <% end %>
        <% if @owner %>
          <td><%= link_to 'Edit', edit_item_path(item, auction: item.auction_id) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @owner %>
  <%= link_to 'New Item', new_item_path(auction: @auction.id) %>
<% end %>
<%= link_to 'Back', auctions_path %>
