<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h1>Listing auctions</h1>
<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Auctioneers</th>
      <th>Title</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <% if @owner %>
        <th>Enabled</th>
        <th>Tally</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each do |auction| %>
      <% if DateTime.now > auction.start_date && DateTime.now < auction.end_date || @owner %>
      <tr>
        <td><%= image_tag auction.logo.url(:thumb) %></td>
        <td>
        <% auction.auctioneers.each do |auctioneer| %>
        <% fullname = auctioneer.user.first_name + ' ' + auctioneer.user.last_name%>
        <%= fullname  %><br>
        <% end %></td>
        <td><%= auction.title %></td>
        <td><%= auction.description %></td>
        <td><%= auction.start_date %></td>
        <td><%= auction.end_date %></td>
        <% if @owner %>
          <td><%= auction.display %></td>
          <td><%= auction.tally %></td>
        <% end %>
        <% if auction.display %><td><%= link_to 'Enter Auction', auction %></td><% end %>
        <% if user_signed_in? %>
          <% if @owner %><td><%= link_to 'Edit', edit_auction_path(auction) %></td><% end %>
          <% if @owner %><td><%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
        <% end %>
       </tr>
       <% end %>
       <% end %>
  </tbody>
</table>
<%= link_to 'Back', :back %>
<br>

