<p id="notice"><%= notice %></p>

<p>
    <center><%= image_tag @auction.logo.url(:large) %></center>
</p>
<p>
  <strong>Auction:</strong>
  <%= @auction.title %>
</p>
<p>
  <strong>Auctioneers:</strong>
  <% @auction.auctioneers.each do |auctioneer| %>
  <% fullname = auctioneer.user.first_name + ' ' + auctioneer.user.last_name%>
  <%= fullname  %>,
  <% end %></td>
</p>
<p>
  <strong>Description:</strong>
  <%= @auction.description %>
</p>
<p>
  <strong>Payment Methods:</strong>
  <%= @auction.payment %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @auction.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @auction.end_date %>
</p>

<% if @owner %><%= link_to 'Edit', edit_auction_path(@auction) %><% end %> 
<% if @owner && @auction.display %><%= link_to 'Finalize', finalize_auction_path(@auction) %><% end %> 
<%= link_to 'View Items', auction_items_auction_path(@auction) %> 
<%= link_to 'Back', auctions_path %>
